<p><%= @room.name %></p>
<%= render @room.chats %>
<div id="chat" data-uri="<%= Settings.websocket_rails.url %>:<%= Settings.websocket_rails.port %>/websocket"></div>
<div>
 <form class="form-horizontal">
   <input type="text" class="form-control" id="msgbody" />
   <input type="hidden" class="form-control" id="user_name" value="<%= current_user.family_name %>" />
   <input type="hidden" class="form-control" id="room_id" value="<%= @room.id %>" />
   <input type="button" class="btn btn-primary" id="send" value="送信"/>
 </form>
</div>
