<body style="background-color: #F7F8E0;">
<h5 style="text-align: center;"><%= @passive_user.user.family_name %> <%= @passive_user.user.first_name %></h5>
  <div style="margin-bottom: 220px;">
    <div class="chats">
      <%= render @room.chats %>

      <div id="chat" data-uri="<%= Settings.websocket_rails.url %>/websocket"></div>

    </div>
  </div>

    <div id="current_user_id" style="display:none;"><%= current_user.id %></div>
  <div class="message_area">
     <form>
         <input type="hidden" id="user_name" value="<%= current_user.family_name %>" />
         <input type="hidden" id="room_id" value="<%= @room.id %>" />
         <input type="hidden" id="user_id" value="<%= current_user.id %>" />
       <div class="form">
          <div class="textarea">
            <textarea id="msgbody" class="text_box" rows="5" placeholder="メッセージ"></textarea>
          </div>
          <div class="chat_button">
            <input type="button" class="btn btn-primary" id="send" value="送信"/>
          </div>
          <div class="clear"></div>
      </div>
    </form>
  </div>
</body>
