<div class="wrap" style="height: 150px;">
    <%= link_to '', chats_path(room_id: user_room.room_id), {target: ["_blank"] }%>
  <div class="contents">
    <div class="left">
      <img src="<%= user_room.user.avatar.url(:medium) %>" class="list">
      <div class="info">
          <%= user_room.user.family_name %>
          <%= user_room.user.first_name %><br>
          <%= user_room.user.prefecture.name %>
          <%= user_room.user.city.name %><br>
          <blockquote><small><%= user_room.room.chats.last.message %></small></blockquote>
      </div>
    </div>
    <div class="right">
      <div class="icono-comment"></div>
    </div>
    <div class="clear"></div>

  </div>
</div>
