<body style="background-color: #F7F8E0;">
  <div class="room_wrap">
    <h1 style="text-align: center;">want to start chat?</h1>
    <div class="show_left">
      <img src="<%= @user.avatar.url(:medium) %>" class="show">
    </div>
    <div class="show_right">
      <h4><%= @user.family_name %> <%= @user.first_name %></h4>
      <h5><%= @user.prefecture.name %> <%= @user.city.name %></h5>
    </div>
    <div class="clear"></div>

    <% if @user_room.present? %>
        <%= link_to 'start chat', chats_path(room_id: @user_room.room_id), {class: 'btn btn-success btn-block btn-large'} %>
    <% else %>
      <%= form_for(@room) do |f| %>
        <%= f.hidden_field :name, value: "personal chat" %>
        <%= f.fields_for :user_rooms do |i| %>
            <%= i.hidden_field :user_id, value: @user.id %>
          <% end %>
        <%= f.submit 'start chat' %>
      <% end %>
    <% end %>
  </div>
</body>
