<h1>want to start chat?</h1>
<p><%= @user.email%></p>

<% if @user_room.present? %>
  <%= link_to 'start chat', chats_path(room_id: @user_room.room_id) %>
<% else %>
  <%= form_for(@room) do |f| %>
    <%= f.hidden_field :name, value: "personal chat" %>
    <%= f.fields_for :user_rooms do |i| %>
        <%= i.hidden_field :user_id, value: @user.id %>
      <% end %>
    <%= f.submit 'start chat' %>
  <% end %>
<% end %>
